html {
  background-color: #f9f9f9;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.App a {
  color: #356abf;
}

.App a:hover {
  color: #75CAEF;
}

.loading, .error-wrapper {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.error-wrapper span {
  margin: auto;
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* SideBar menu */

.avatar-menu:hover {
  background-color: rgb(74, 87, 104) !important;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
}

.avatar-icon {
  margin: auto;
}

.avatar-name {
  color: white;
  margin: auto;
}
