html {
	background-color: #f9f9f9;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #656e77;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

.App a {
	color: #f60;
}

.loading, .error-wrapper {
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.error-wrapper span {
	margin: auto;
	color: black;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* SideBar menu */
/*.App-header div {
  background-color: rgb(62, 75, 92) !important;
  color: rgb(180, 188, 200) !important;
}*/

.App-header div .titleBar  {
  padding-top: 60px;
  background-color: rgb(43, 54, 67) !important;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
}

.avatar-icon {
  margin: auto;
}

.avatar-name {
  color: white;
  margin: auto;
}

.sidebar-courses a {
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none !important;
}
