.course-info-share,
.course-prof-share {
  cursor: pointer;
  text-decoration: none !important;
  color: #757575 !important;
}
.course-info-share:hover,
.course-prof-share:hover {
  text-decoration: underline !important;
}

.course-prof-header {
  display: flex;
  padding: 20px;
}

.course-prof-header-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  margin-left: 10px;
  width: 100%;
}

.course-prof-rating {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-prof-rating-difficulty {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

.course-prof-rating-tags {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 20px;
}
