/* Course View */
.course-view {
  width: 100%;
  display: flex;
  padding-top: 20px;
}

/* Browse Courses */
.course-card:hover .overlay {
  opacity: 1 !important;
}

/* Course Content*/

.course-code > .star-ratings {
  margin: auto 20px;
}

.course-header-title {
  font-size: 20px;
  width: fit-content;
  text-decoration: none;
  color: black !important;
}

.course-header-title:hover {
  color: #75CAEF !important;
}
.reqs-link:hover {
  color: #75CAEF !important;
  background-color: #f3f3f3;
}
