/* Course View */
.course-view {
  width: 100%;
  height: 90%;
  display: flex;
  padding-top: 84px;
}

/* Browse Courses */
.course-browse {
  width: 90%;
  height: 100%;
  padding-top: 100px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.browse-search {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.browse-search span {
  font-size: 30px;
  margin-bottom: 20px;
}

.course-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popular-text {
  font-size: 30px;
  float: left;
  margin-top: 40px;
  margin-left: 20px;
}

.browse-recommended {
  display: flex;
}

.course-card {
  position: relative;
  width: 250px;
  margin: 20px;
}

.card-content {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.card-header {
  width: 100%;
}

.card-header div {
  padding-right: 2px !important;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #f2f7f9;
}

.overlay-text {
  height: 50%;
  overflow: hidden;
  margin: 15px;
}

.course-card:hover .overlay {
  opacity: 1;
}

.course-card > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Course Content*/
.course-content {
  width: 78%;
  height: 100%;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  padding: 0 60px;
}

.course-header {
  border-bottom: 1px solid #dbdbdb;
  height: 15%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
	padding-bottom: 10px;
  margin-bottom: 25px;
}

.course-code {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
}

.course-code > h1 {
  font-size: 40px;
  font-weight: 400;
  margin: auto 0;
}

.course-code > .star-ratings {
  margin: auto 20px;
}

.course-code > span {
  margin: auto;
  margin-right: 20px;
  color: #5c5f63;
}

.course-header .title {
  font-size: 20px;
}

.course-description {
  padding: 0 10px;
  display: flex;
}

.course-description .description {
  font-size: 15px;
  margin: auto;
  margin-top: 10px;
  margin-left: 0;
  text-align: left;
  width: 55%;
  line-height: 1.5;
  color: #5c6e84;
}

.course-requisites {
  margin: auto;
  margin-top: 0;
  margin-right: 0;
  width: 300px;
}

.course-requisites span {
  margin: 4px auto;
}

.prereqs {
  text-align: left;
  padding: 0 10px;
}

.prereqs-choose span {
  margin-left: 0;
  text-align: left;
}

.prereqs-reqs {
  margin: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left-style: solid;
  border-left-color: rgba(116, 122, 132, 0.5);
}

.reqs-link a {
  padding: 1px;
  cursor: pointer;
  color: black;
}
.reqs-link a:hover {
  color: #4286f4;
  background-color: #f3f3f3;
}

.course-class-list {
  margin-top: 40px;
  display: inline-block;
  flex-direction: column;
	width: 80%;
	margin-left: 20px;
}

.course-class-list-header {
  font-size: 30px;
  text-align: left;
  margin-bottom: 15px;
}

.course-class-list-table td {
	text-align: center !important;
}


/* Course Board */
.course-board {
	width: 70%;
  height: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  padding: 0 60px;
}

.term-header {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: rgb(54, 65, 80);
	color: white;
	font-size: 18px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	flex-direction: column;
}

.term-header .year {
	font-size: 13px;
	margin-top: 5px;
}

/* Cart */
.cart {
	position: fixed;
	right: 0;
	margin-right: 0;
	width: 22%;
	display: flex;
	flex-direction: column;
}
