svg.tree circle {
  fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
  cursor: pointer;
}

svg.tree text {
	font-size: 15px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
  margin-left: 3px;
}

svg.tree .leaf circle {
	fill: #87969b;
  cursor: default;
}

svg.tree .taken circle {
	fill: #32c967;
}

svg.tree .taken text {
	fill: #32c967;
}

svg.tree .choose-0 circle {
	fill: #d25050;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

svg.tree .choose-1 circle {
	fill: #52b5ce;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

svg.tree path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}
